<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-margin-start">
      <ion-avatar>
        <ion-img src="../../../assets/logos/company-logo.png"  alt="company icon"></ion-img>
      </ion-avatar>
      <ion-text size="ion-text-large" color="primary">SkinCo</ion-text>
    </ion-buttons>
    <ion-buttons class="toolbar-nav" slot="end" *ngIf="_platformService.isDesktop()">
      <ion-button tab="home" [routerLink]="routes.HOME_STAFF" *ngIf="userData && userData.role?.name === roles.STAFF">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label *ngIf="!_platformService.screenXS()">HOME</ion-label>
      </ion-button>
      <ion-button tab="home" [routerLink]="routes.HOME_PATIENT" *ngIf="userData && userData.role?.name === roles.PATIENT">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label *ngIf="!_platformService.screenXS()">HOME</ion-label>
      </ion-button>
      <ion-button [routerLink]="routes.CLINIC" *ngIf="userData && userData.role?.name === roles.STAFF">
        <ion-icon name="business-outline"></ion-icon>
        <ion-label *ngIf="!_platformService.screenXS()">CLINIC</ion-label>
      </ion-button>
      <ion-button [routerLink]="routes.CLINIC_SERVICES" *ngIf="userData && userData.clinicId && userData.role?.name === roles.STAFF">
        <ion-icon name="receipt-outline"></ion-icon>
        <ion-label *ngIf="!_platformService.screenXS()">SERVICES</ion-label>
      </ion-button>
      <ion-button [routerLink]="routes.BOOKINGS" *ngIf="userData && userData.role?.name === roles.PATIENT">
        <ion-icon name="book-outline"></ion-icon>
        <ion-label *ngIf="!_platformService.screenXS()">BOOKINGS</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>