<ion-card mode="ios" color="light">
  <ion-card-header>
    <ion-card-title>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col size="10" class="ion-text-start">
          <h1>{{ patientLevel ? booking?.clinic?.name : booking?.patient?.person?.fullName }}</h1>
        </ion-col>
        <ion-col size="2" class="ion-text-end">
          <ion-icon class="link" name="eye" (click)="patientLevel ? onViewClinic() : onViewPatient()"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card-title>
    <ion-card-subtitle>
      <ion-row class="ion-justify-content-between">
        <ion-col size="4">
          <ion-text [color]="statusColor" *ngIf="statusColor">
            {{ booking?.bookingStatus }}
          </ion-text>
        </ion-col>
        <ion-col size="8" class="ion-text-end">
          <ion-text class="ion-margin-end">
            #{{ booking?.bookingNo }}
          </ion-text>

          <ion-icon class="menu-icon" 
            color="primary" 
            name="menu" 
            (click)="presentPopover($event)"
            *ngIf="booking?.bookingStatus !== bookingStatuses.CANCELLED && !booking?.review">
          </ion-icon>
        </ion-col>
      </ion-row>
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-popover #popover [isOpen]="isPopoverOpen" (didDismiss)="isPopoverOpen = false"
      *ngIf="booking?.bookingStatus !== bookingStatuses.CANCELLED && !booking?.review">
      <ng-template>
        <ion-list>
          <ion-item class="link" *ngIf="userData?.role?.name === roles.PATIENT && (booking?.bookingStatus === bookingStatuses.QUEUED || booking?.bookingStatus === bookingStatuses.SKIPPED)" (click)="onCancelBooking()">
            <ion-icon slot="start" color="danger" name="close-circle"></ion-icon>
            <ion-text>CANCEL</ion-text>
          </ion-item>
          <ion-item class="link" *ngIf="userData?.role?.name === roles.PATIENT && (booking?.bookingStatus === bookingStatuses.QUEUED || booking?.bookingStatus === bookingStatuses.SKIPPED)" (click)="onRescheduleBooking()">
            <ion-icon slot="start" color="secondary" name="calendar"></ion-icon>
            <ion-text>RESCHEDULE</ion-text>
          </ion-item>
          <ion-item class="link" *ngIf="userData?.role?.name === roles.STAFF && booking?.bookingStatus === bookingStatuses.QUEUED" (click)="onSkipBooking()">
            <ion-icon slot="start" color="secondary" name="play-skip-forward"></ion-icon>
            <ion-text>SKIP</ion-text>
          </ion-item>
          <ion-item class="link" *ngIf="userData?.role?.name === roles.STAFF && booking?.bookingStatus === bookingStatuses.SKIPPED" (click)="onRequeueBooking()">
            <ion-icon slot="start" color="secondary" name="refresh"></ion-icon>
            <ion-text>Requeue</ion-text>
          </ion-item>
          <ion-item class="link" *ngIf="userData?.role?.name === roles.STAFF && (booking?.bookingStatus === bookingStatuses.QUEUED || booking?.bookingStatus === bookingStatuses.SKIPPED)" (click)="onCompleteBooking()">
            <ion-icon slot="start" color="success" name="thumbs-up"></ion-icon>
            <ion-text>Complete</ion-text>
          </ion-item>
          <ion-item class="link" *ngIf="userData?.role?.name === roles.PATIENT && booking?.bookingStatus === bookingStatuses.COMPLETED" (click)="onWriteReview()">
            <ion-icon slot="start" color="success" name="pencil"></ion-icon>
            <ion-text>Write Review</ion-text>
          </ion-item>
        </ion-list>
      </ng-template>
    </ion-popover>

    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-text>
          <h2><b>Booking Date: </b> {{ booking?.bookingDate | date: 'longDate'}}</h2>
        </ion-text>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-text>
          <h2><b>Date Created: </b> {{ booking?.createdAt | date: 'longDate'}}</h2>
        </ion-text>
      </ion-col>
      <ion-col size="12" *ngIf="booking?.clinicServices" class="ion-padding-vertical">
        <ion-accordion-group color="success">
          <ion-accordion mode="ios">
            <ion-item slot="header" color="medium">
              <ion-label>Services</ion-label>
            </ion-item>
            <div slot="content" class="ion-padding">
              <ion-row *ngFor="let service of booking?.clinicServices">
                <ion-col size="6">
                  <ion-text>{{ service.name }}</ion-text>
                </ion-col>
                <ion-col size="6">
                  <ion-text>{{ service.price | currency: 'PHP' }}</ion-text>
                </ion-col>
              </ion-row>

              <div class="horizontal-line"></div>

              <ion-row>
                <ion-col size="6">
                  <ion-text>Total</ion-text>
                </ion-col>
                <ion-col size="6">
                  <ion-text>{{ totalServicesPrice | currency: 'PHP' }}</ion-text>
                </ion-col>
              </ion-row>
            </div>
          </ion-accordion>
          <ion-accordion mode="ios" class="ion-margin-top" *ngIf="booking?.review && userData?.role?.name === roles.PATIENT">
            <ion-item slot="header" color="medium">
              <ion-label>Review</ion-label>
            </ion-item>
            <div slot="content" class="ion-padding">
              <ion-row>
                <ion-col size="6">
                  <ion-text>Rating: {{ booking?.review?.rating }}</ion-text>
                </ion-col>
                <ion-col size="6">
                  <ion-text>Date: {{ booking?.review?.updatedAt | date: 'longDate'  }}</ion-text>
                </ion-col>
                <ion-col size="12">
                  <ion-text>Remarks:</ion-text>
                  <br>
                  <ion-text color="medium">{{ booking?.review?.remarks }}</ion-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" class="ion-text-end">
                  <ion-button class="ion-margin-end" color="secondary" size="small" (click)="onUpdateReview()">Update</ion-button>
                  <ion-button color="danger" size="small" (click)="onDeleteReview()">Delete</ion-button>
                </ion-col>
              </ion-row>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-col>
      <ion-col size="12"*ngIf="booking?.remarks && booking?.remarks !== ''">
        <ion-text>
          <h2><b>Remarks:</b></h2>
        </ion-text>
        <ion-text> {{ booking?.remarks }}</ion-text>
      </ion-col>
      <ion-col size="12" *ngIf="booking?.bookingStatus === bookingStatuses.CANCELLED && booking?.cancellationReason && booking?.cancellationReason !== ''">
        <ion-text color="danger">
          <h2><b>Reson:</b></h2>
        </ion-text>
        <ion-text> {{ booking?.cancellationReason }}</ion-text>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>