<ion-card mode="ios" color="light">
  <ion-card-header>
    <ion-card-title>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col size="10" class="ion-text-start">
          <h1>{{ booking?.clinic?.name}}</h1>
        </ion-col>
        <ion-col size="2" class="ion-text-end">
          <ion-icon class="link" name="eye" (click)="onViewClinic()"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card-title>
    <ion-card-subtitle>
      <ion-row class="ion-justify-content-between">
        <ion-text [color]="statusColor" *ngIf="statusColor">
          {{ booking?.bookingStatus }}
        </ion-text>
        <ion-text>
          #{{ booking?.bookingNo }}
        </ion-text>
      </ion-row>
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-text>
          <h2><b>Booking Date: </b> {{ booking?.bookingDate | date: 'longDate'}}</h2>
        </ion-text>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-text>
          <h2><b>Date Created: </b> {{ booking?.createdAt | date: 'longDate'}}</h2>
        </ion-text>
      </ion-col>
      <ion-col size="12" *ngIf="booking?.clinicServices" class="ion-padding-vertical">
        <ion-accordion-group color="success">
          <ion-accordion mode="ios">
            <ion-item slot="header" color="medium">
              <ion-label>Services</ion-label>
            </ion-item>
            <div slot="content" class="ion-padding">
              <ion-row *ngFor="let service of booking?.clinicServices">
                <ion-col size="6">
                  <ion-text>{{ service.name }}</ion-text>
                </ion-col>
                <ion-col size="6">
                  <ion-text>{{ service.price | currency: 'PHP' }}</ion-text>
                </ion-col>
              </ion-row>

              <div class="horizontal-line"></div>

              <ion-row>
                <ion-col size="6">
                  <ion-text>Total</ion-text>
                </ion-col>
                <ion-col size="6">
                  <ion-text>{{ totalServicesPrice | currency: 'PHP' }}</ion-text>
                </ion-col>
              </ion-row>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-col>
      <ion-col size="12" size-md="6" *ngIf="booking?.remarks && booking?.remarks !== ''">
        <ion-text>
          <h2><b>Remarks:</b></h2>
        </ion-text>
        <ion-text> {{ booking?.remarks }}</ion-text>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>