<ion-content #content class="ion-padding" *ngIf="userData">
  <app-refresher [showRefresher]="true" (refresh)="onRefresh($event)"></app-refresher>
  
  <ion-row>
    <ion-col size="12" size-md="10" offset-md="1">
      <div class="ion-text-center ion-padding-bottom">
        <ion-text id="page-header">Looking for a clinic?</ion-text>
      </div>
      
      <app-map [setCurrentLocation]="true" [markerDraggable]="false"></app-map>
      
      <ion-item lines="none" *ngIf="selectedClinic">
        <ion-icon name="location-outline" color="dark" slot="start"></ion-icon>
        <ion-label>Selected Location: {{selectedClinic.location.address}}</ion-label>
      </ion-item>
      
      <div class="ion-margin-vertical">
        <ion-searchbar 
          color="medium"
          search-icon="search-circle"
          clear-icon="trash-bin"
          animated="true" 
          debounce="500" 
          #searchInput 
          placeholder="Search for clinic, doctor, specialization, location..."
          (ionChange)="onSearch($event.detail.value)">
        </ion-searchbar>
        <ion-text class="ion-margin-start" size="small" *ngIf="loadClinics">
          Found {{ filteredClinics.length }} clinic{{ filteredClinics.length > 1 ? 's' : '' }}.
        </ion-text>
      </div>
      
      <ion-row class="ion-margin-vertical" *ngIf="loadClinics">
        <ion-col size="12" size-md="4" *ngFor="let clinic of filteredClinics">
          <app-clinic-card class="link"
            [highlighted]="clinic === selectedClinic"
            [clinic]="clinic" 
            (viewInMap)="onViewInMap($event)"
            (viewClinic)="onViewClinic($event)"
            (bookClinic)="onBookClinic($event)">
          </app-clinic-card>
        </ion-col>
      </ion-row>
      
      <div *ngIf="!loadClinics && favoriteClinics.length !== 0">
        <div class="horizontal-line"></div>
        <ion-text>
          <h3>
            Favorites
            <ion-icon color="primary" size="medium" name="heart"></ion-icon>
          </h3>
        </ion-text>
        <ion-row class="ion-margin-vertical">
          <ion-col size="12" size-md="4" *ngFor="let clinic of favoriteClinics">
            <app-clinic-card class="link"
              [highlighted]="clinic === selectedClinic"
              [clinic]="clinic" 
              (viewInMap)="onViewInMap($event)"
              (viewClinic)="onViewClinic($event)"
              (bookClinic)="onBookClinic($event)">
            </app-clinic-card>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>
</ion-content>