<ion-tabs *ngIf="_platformService.isAndroid()">
  <ion-tab-bar slot="bottom">
    <ion-tab-button [tab]="routes.HOME_STAFF" *ngIf="userData && userData.role?.name === roles.STAFF">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>HOME</ion-label>
    </ion-tab-button>
    <ion-tab-button [tab]="routes.HOME_PATIENT" *ngIf="userData && userData.role?.name === roles.PATIENT">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>HOME</ion-label>
    </ion-tab-button>
    <ion-tab-button [tab]="routes.CLINIC" *ngIf="userData && userData.role?.name === roles.STAFF">
      <ion-icon name="business-outline"></ion-icon>
      <ion-label>CLINIC</ion-label>
    </ion-tab-button>
    <ion-tab-button [tab]="routes.CLINIC_SERVICES" *ngIf="userData && userData.clinicId && userData.role?.name === roles.STAFF">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>SERVICES</ion-label>
    </ion-tab-button>
    <ion-tab-button [tab]="routes.BOOKINGS" *ngIf="userData && userData.role?.name === roles.PATIENT">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>BOOKINGS</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>