<ion-content class="ion-padding" *ngIf="userData">
  <app-refresher (refresh)="onRefresh($event)"></app-refresher>

  <app-bank-details [bankDetailsList]="bankDetailsList" (updateBankDetails)="onUpdateBankDetails($event)" (deleteBankDetails)="onDeleteBankDetails($event)"></app-bank-details>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="ion-margin-end ion-margin-bottom">
    <ion-fab-button (click)="onAddBankDetails()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
