<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding main">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2" size-lg="6" offset-lg="3">
        <div class="ion-text-center">
          <ion-text color="primary">
            Enter the email address associated with your account and we'll send you a link to reset your password.
          </ion-text>
        </div>
  
        <form [formGroup]="forgotPasswordForm!" (ngSubmit)="onSubmit()">
          <ion-list color="light" class="ion-padding ion-margin-top">
            <ion-item color="light" class="ion-margin-top">
              <ion-input type="email" 
              formControlName="email" 
              label="Email"
              labelPlacement="floating"
              [maxlength]="emailMaxLength" 
              [clearInput]="true"></ion-input>
            </ion-item>
            <ion-text class="error-message" color="danger" *ngIf="forgotPasswordForm?.hasError('required', 'email') && forgotPasswordForm?.get('email')?.touched">
              <div>* Email is required.</div>
            </ion-text>
            <ion-text class="error-message" color="danger" *ngIf="forgotPasswordForm?.hasError('email', 'email') && forgotPasswordForm?.get('email')?.touched">
              <div>* Email is invalid.</div>
            </ion-text>
          </ion-list>

          <div class="ion-margin-top">
            <ion-button type="submit" expand="block" color="secondary" shape="round" [disabled]="forgotPasswordForm?.invalid">Submit</ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
