<ion-header>
  <ion-toolbar>
    <ion-title color="dark">Clinic Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div *ngIf="clinic">
    <ion-segment [(ngModel)]="selectedSegment">
      <ion-segment-button [value]="clinicSegments.INFO">
        <ion-label>{{ clinicSegments.INFO }}</ion-label>
      </ion-segment-button>
      <ion-segment-button [value]="clinicSegments.SCHEDULE" [disabled]="!clinic.isApproved">
        <ion-label>{{ clinicSegments.SCHEDULE }}</ion-label>
      </ion-segment-button>
      <ion-segment-button [value]="clinicSegments.DOCTOR" [disabled]="!clinic.isApproved">
        <ion-label>{{ clinicSegments.DOCTOR }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  
    <div [ngSwitch]="selectedSegment">
      <ion-list *ngSwitchCase="clinicSegments.INFO">
        <app-clinic-info [clinic]="clinic" [viewOnly]="true"></app-clinic-info>
      </ion-list>
      <ion-list *ngSwitchCase="clinicSegments.SCHEDULE">
        <app-clinic-schedule [clinic]="clinic" [viewOnly]="true"></app-clinic-schedule>
      </ion-list>
      <ion-list *ngSwitchCase="clinicSegments.DOCTOR">
        <app-clinic-doctors [clinic]="clinic" [viewOnly]="true"></app-clinic-doctors>
      </ion-list>
    </div>
  </div>
</ion-content>