<ion-content *ngIf="userData">
  <app-clinic-registration-form 
    *ngIf="showClinicSetupForm === true" 
    [isFormUpdate]="isFormUpdate" 
    [clinic]="clinic" 
    [userData]="userData"
    (registrationCompleted)="onRegistrationCompleted($event)" 
    (updateCompleted)="onUpdateCompleted($event)">
  </app-clinic-registration-form>
  
  <div *ngIf="showClinicSetupForm === false && clinic">
    <ion-segment [(ngModel)]="selectedSegment">
      <ion-segment-button [value]="clinicSegments.INFO">
        <ion-label>{{ clinicSegments.INFO }}</ion-label>
      </ion-segment-button>
      <ion-segment-button [value]="clinicSegments.SCHEDULE" [disabled]="!clinic.isApproved">
        <ion-label>{{ clinicSegments.SCHEDULE }}</ion-label>
      </ion-segment-button>
      <ion-segment-button [value]="clinicSegments.DOCTORS" [disabled]="!clinic.isApproved">
        <ion-label>{{ clinicSegments.DOCTORS }}</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="selectedSegment">
      <ion-list *ngSwitchCase="clinicSegments.INFO">
        <app-clinic-info [userData]="userData" [clinic]="clinic" (updateInfo)="onUpdateInfo()" (refresh)="onRefresh()"></app-clinic-info>
      </ion-list>
      <ion-list *ngSwitchCase="clinicSegments.SCHEDULE">
        <app-clinic-schedule [clinic]="clinic"></app-clinic-schedule>
      </ion-list>
      <ion-list *ngSwitchCase="clinicSegments.DOCTORS">

      </ion-list>
    </div>
  </div>
</ion-content>