<ion-content *ngIf="userData">
  <app-clinic-registration-form 
    *ngIf="showClinicSetupForm === true" 
    [isFormUpdate]="isFormUpdate" 
    [clinic]="clinic" 
    [userData]="userData"
    (registrationCompleted)="onRegistrationCompleted($event)" 
    (updateCompleted)="onUpdateCompleted($event)">
  </app-clinic-registration-form>
  
  <div *ngIf="showClinicSetupForm === false && clinic">
    <ion-segment [(ngModel)]="selectedSegment" [scrollable]="true">
      <ion-segment-button [value]="clinicSegments.INFO">
        <ion-icon name="information-circle" *ngIf="!isDesktop"></ion-icon>
        <ion-label *ngIf="isDesktop">{{ clinicSegments.INFO }}</ion-label>
      </ion-segment-button>
      <ion-segment-button [value]="clinicSegments.SCHEDULE" [disabled]="!clinic.isApproved">
        <ion-icon name="calendar" *ngIf="!isDesktop"></ion-icon>
        <ion-label *ngIf="isDesktop">{{ clinicSegments.SCHEDULE }}</ion-label>
      </ion-segment-button>
      <ion-segment-button [value]="clinicSegments.DOCTOR" [disabled]="!clinic.isApproved">
        <ion-icon name="person" *ngIf="!isDesktop"></ion-icon>
        <ion-label *ngIf="isDesktop">{{ clinicSegments.DOCTOR }}</ion-label>
      </ion-segment-button>
      <ion-segment-button [value]="clinicSegments.REVIEWS">
        <ion-icon name="people" *ngIf="!isDesktop"></ion-icon>
        <ion-label *ngIf="isDesktop">{{ clinicSegments.REVIEWS }}</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="selectedSegment">
      <ion-list *ngSwitchCase="clinicSegments.INFO">
        <app-clinic-info [clinic]="clinic" (updateInfo)="onUpdateInfo()" (refresh)="onRefresh()"></app-clinic-info>
      </ion-list>
      <ion-list *ngSwitchCase="clinicSegments.SCHEDULE">
        <app-clinic-schedule [clinic]="clinic"></app-clinic-schedule>
      </ion-list>
      <ion-list *ngSwitchCase="clinicSegments.DOCTOR">
        <app-clinic-doctors [clinic]="clinic"></app-clinic-doctors>
      </ion-list>
      <ion-list *ngSwitchCase="clinicSegments.REVIEWS">
        <app-clinic-reviews [clinic]="clinic"></app-clinic-reviews>
      </ion-list>
    </div>
  </div>
</ion-content>