
<ion-menu contentId="main-content" *ngIf="isAuthenticated">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-menu-toggle auto-hide="false">
        <ion-item [routerLink]="routes.HOME">
          <ion-icon slot="start" name="home"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="false" *ngIf="userData && userData.role?.name === roles.ADMIN">
        <ion-item [routerLink]="routes.MANAGE_CLINICS">
          <ion-icon slot="start" name="business-outline"></ion-icon>
          <ion-label>Manage Clinics</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="false" *ngIf="userData">
        <ion-item [routerLink]="routes.PROFILE">
          <ion-icon slot="start" name="person-outline"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="false" class="link">
        <ion-item (click)="onLogout()">
          <ion-icon slot="start" name="log-out"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>