<ion-content class="ion-padding">
  <app-refresher (refresh)="onRefresh($event)"></app-refresher>

  <ion-row>
    <ion-col size="12" size-md="10" offset-md="1">
      <ion-card class="ion-padding-bottom">
        <ion-card-header>
          <ion-card-title size="large" class="ion-margin-start">
            <h1>Manage Clinics</h1>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-accordion-group [multiple]="true" *ngFor="let clinic of clinics;" class="ion-padding-horizontal">
            <app-clinic-accordion [clinic]="clinic" (approveClinic)="onApproveClinic($event)"></app-clinic-accordion>
          </ion-accordion-group>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
