<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{ bookingDetails ? 'Update' : 'Book' }} Appointment</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="done()">Done</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="bookingForm!" class="ion-margin-top">
    <ion-list color="light">
      <ion-item color="light" class="ion-justify-content-between link" (click)="onSelectDate()">
          <ion-label class="ion-text-start">{{ bookingForm?.value.bookingDate ? 'Booking Date' : 'Select Date' }}</ion-label>
          <ion-label class="ion-text-end">{{ bookingForm?.value.bookingDate | date: 'longDate'}}</ion-label>
      </ion-item>
      <ion-text class="error-message" color="danger" *ngIf="bookingForm?.hasError('required', 'bookingDate') && bookingForm?.get('bookingDate')?.touched">
        <div>* Booking date is required.</div>
      </ion-text>
  
      <ion-item class="ion-margin-top">
        <ion-select mode="ios" 
          aria-label="Clinic Services" 
          label="Clinic Services" 
          placeholder="Select services" 
          [multiple]="true" 
          formControlName="clinicServiceIds" 
          (ionChange)="onClinicServicesChanged()">
          <ion-select-option *ngFor="let service of clinicServices" [value]="service.id">{{ service.name }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-text class="error-message" color="danger" *ngIf="bookingForm?.hasError('required', 'clinicServiceIds') && bookingForm?.get('clinicServiceIds')?.touched">
        <div>* Service is required.</div>
      </ion-text>

      <div class="services-list" *ngIf="selectedClinicServices.length !== 0">
        <ion-list>
          <ion-row>
            <ion-item>
              <h1>
                Selected Services
              </h1>
            </ion-item>
          </ion-row>
          <ion-row *ngFor="let service of selectedClinicServices">
            <ion-col size="6">
              <ion-item>{{ service.name }}</ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>{{ service.price }}</ion-item>
            </ion-col>
          </ion-row>

          <div class="horizontal-line"></div>

          <ion-row>
            <ion-col size="6">
              <ion-item>Total</ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>{{ totalServicesPrice }}</ion-item>
            </ion-col>
          </ion-row>
        </ion-list>
      </div>

      <ion-item color="light" class="ion-margin-top">
        <ion-textarea  
        formControlName="remarks" 
        label="Remarks"
        labelPlacement="floating"
        [autoGrow]="true"
        [counter]="true" 
        [maxlength]="bookingRemarksMaxLength"></ion-textarea>
      </ion-item>
      <ion-text class="error-message" color="danger" *ngIf="bookingForm?.value.remarks?.length > bookingRemarksMaxLength && bookingForm?.get('remarks')?.touched">
        <div>* Maximum is {{ bookingRemarksMaxLength }} characters.</div>
      </ion-text>
    </ion-list>
  </form>
</ion-content>