<div class="wrapper ion-padding-horizontal" *ngIf="clinic">
  <app-refresher [showRefresher]="true" (refresh)="onRefresh($event)"></app-refresher>

  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2">
        <ion-row class="ion-margin-bottom ion-justify-content-between ion-align-items-center">
          <ion-col [size]="!viewOnly ? 8 : 12" class="ion-text-start">
            <ion-text id="page-header">Clinic Schedule</ion-text>
          </ion-col>
          <ion-col size="4" class="ion-text-end" *ngIf="!viewOnly">
            <ion-button class="ion-margin-start" size="medium" color="primary" (click)="onAddSchedule()">
              Add
              <ion-icon slot="start" name="create-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>

        <app-clinic-schedule-list [clinicSchedules]="clinicSchedules" (selected)="this.selectedClinicSchedule = $event"></app-clinic-schedule-list>

        <ion-row class="ion-margin-top ion-justify-content-end" *ngIf="!viewOnly">
          <ion-button class="ion-margin-start" size="medium" color="danger" (click)="onDeleteSchedule()" *ngIf="selectedClinicSchedule">
            Delete
            <ion-icon slot="start" name="trash-outline"></ion-icon>
          </ion-button>
          <ion-button class="ion-margin-start" size="medium" color="secondary" (click)="onUpdateSchedule()" *ngIf="selectedClinicSchedule">
            Update
            <ion-icon slot="start" name="pencil-outline"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>