<div class="ion-padding-horizontal" *ngIf="clinic">  
  <app-refresher [showRefresher]="true" (refresh)="onRefresh($event)"></app-refresher>

  <fieldset *ngIf="!clinic.isApproved" class="ion-text-center">
    <ion-text color="danger">
      <h4>Not yet approved.</h4>
    </ion-text>
    <p>Please allow up to 48 hours for processing.</p>
  </fieldset>

  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2">
        <ion-row>
          <ion-col size="12" size-md="6">
            <ion-text color="dark" class="ion-text-start ion-margin-bottom">
              <h2><b>Clinic Name:</b></h2>
              <p>{{ clinic.name }}</p>
            </ion-text>
          </ion-col>
          <ion-col size="12" size-md="6">
            <ion-text color="dark" class="ion-text-start ion-margin-bottom">
              <h2><b>Daily Visit Limit:</b></h2>
              <p>{{ clinic.dailyVisitLimit }}</p>
            </ion-text>
          </ion-col>
          <ion-col size="12">
            <ion-text color="dark" class="ion-text-start ion-margin-bottom">
              <h2><b>Location:</b></h2>
              <p>House/Building No: <i>{{ clinic.location.addressNo }}</i></p>
              <p>Address: <i>{{ clinic.location.address }}</i></p>
              <p>Landmark: <i>{{ clinic.location.landmark }}</i></p>
            </ion-text>
          </ion-col>
          <ion-col size="12" size-md="6">
            <ion-text color="dark" class="ion-text-start ion-margin-bottom">
              <h2><b>Mobile No:</b></h2>
              <p>{{ clinic.mobileNumber }}</p>
            </ion-text>
          </ion-col>
          <ion-col size="12" size-md="6">
            <ion-text color="dark" class="ion-text-start ion-margin-bottom">
              <h2><b>Landline No:</b></h2>
              <p>{{ !clinic.telephoneNumber || clinic.telephoneNumber === "" ? "N/A" : clinic.telephoneNumber }}</p>
            </ion-text>
          </ion-col>
          <ion-col size="12" size-md="6">
            <ion-text color="dark" class="ion-text-start ion-margin-bottom">
              <h2><b>Date Joined:</b></h2>
              <p>{{ clinic.createdAt | date }}</p>
            </ion-text>
          </ion-col>
          <ion-col size="12" size-md="6" *ngIf="!viewOnly">
            <ion-text color="dark" class="ion-text-start ion-margin-bottom">
              <h2><b>Date Updated:</b></h2>
              <p>{{ clinic.updatedAt | date }}</p>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!viewOnly">
          <ion-col size="12" size-md="3" push-md="9">
            <ion-button type="submit" expand="block" color="secondary" shape="round" class="ion-margin-top" (click)="onUpdateInfo()">
              Update Info
              <ion-icon class="ion-margin-end" slot="icon-only" name="pencil"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>