<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{ data.title }}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">Cancel</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="done()">Done</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-datetime presentation="date" [isDateEnabled]="isClinicOpen" [min]="minDate" [max]="maxDate" [value]="selectedDate" (ionChange)="onSelecteDateChanged($event)">
        <span slot="title">Reservation Date</span>
      </ion-datetime>

      <div class="ion-margin-vertical">
        <ion-label *ngIf="availableSlot && availableSlot !== 0">
          <b>Available Slot: </b>20
        </ion-label>
        <ion-label *ngIf="availableSlot && availableSlot === 0">
          Fully booked!
        </ion-label>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>