<div class="ion-padding-start ion-padding-end" *ngIf="clinic">
  <ion-text color="danger" class="ion-text-center" *ngIf="!clinic.isApproved">
    <h4>Not yet approved.</h4>
  </ion-text>

  <fieldset>
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-text color="dark" class="ion-text-start ion-margin-bottom">
            <h2><b>Clinic Name:</b></h2>
            <p>{{ clinic.name }}</p>
          </ion-text>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-text color="dark" class="ion-text-start ion-margin-bottom">
            <h2><b>Daily Visit Limit:</b></h2>
            <p>{{ clinic.dailyVisitLimit }}</p>
          </ion-text>
        </ion-col>
        <ion-col size="12">
          <ion-text color="dark" class="ion-text-start ion-margin-bottom">
            <h2><b>Location:</b></h2>
            <p>House/Building No: <i>{{ clinic.location.addressNo }}</i></p>
            <p>Address: <i>{{ clinic.location.address }}</i></p>
            <p><b></b>Landmark: <i>{{ clinic.location.landmark }}</i></p>
          </ion-text>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-text color="dark" class="ion-text-start ion-margin-bottom">
            <h2><b>Mobile No:</b></h2>
            <p>{{ clinic.mobileNumber }}</p>
          </ion-text>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-text color="dark" class="ion-text-start ion-margin-bottom">
            <h2><b>Landline No:</b></h2>
            <p>{{ !clinic.telephoneNumber || clinic.telephoneNumber === "" ? "N/A" : clinic.telephoneNumber }}</p>
          </ion-text>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-text color="dark" class="ion-text-start ion-margin-bottom">
            <h2><b>Registration Date:</b></h2>
            <p>{{ clinic.createdAt | date }}</p>
          </ion-text>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-text color="dark" class="ion-text-start ion-margin-bottom">
            <h2><b>Date Updated:</b></h2>
            <p>{{ clinic.updatedAt | date }}</p>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-md="4" push-md="8">
          <ion-button type="submit" expand="block" color="secondary" shape="round" class="ion-margin-top" (click)="onUpdateInfo()">
            Update Info
            <ion-icon class="ion-margin-end" slot="icon-only" name="pencil"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </fieldset>
</div>